body {
	margin: 0px;
}
.site_banner {
	border-top: 8px solid black;
	border-bottom: 1px solid black;
	padding: 20px;
	text-align: center;
}
h3 {
	font-size: 14px;
	font-family:'Basier Square-Bold', sans-serif;
	font-family: 'Basier Square-Regular', sans-serif;
	font-weight: bold;
	color: #de2f23;
	letter-spacing: 1px;
}
.article {
	max-width: 900px;
	margin-left: 5%;
	margin-right: 5%;
}
.story_header {
	font-size: 20px;
	font-family:'Basier Square-Bold', sans-serif;
	font-family: 'Basier Square-Regular', sans-serif;
}
h1 {
	font-size: 46px;
	margin-bottom: 0px;
}
.byline {
	font-weight: bold;
}
.story_copy {
	font-size: 20px;
	font-family:'PensumPro-Book', serif;
}
.photo {
	width: 100%;
}
.photo_caption {
	color: slategray;
	font-size: 14px;
	margin-top: 0px;
}
.footer {
	font-family:'Basier Square-Bold', sans-serif;
	font-family: 'Basier Square-Regular', sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
}
.footer_info {
	color: darkgray;
	font-size: 14px;
}
a {
	color: black;
}
a:hover {
	color: hotpink;
}
